@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles - fundamental elements */
html {
	@apply scroll-smooth overflow-x-hidden bg-brand;
}

@layer base {
	body {
		@apply w-full bg-brand-lighter dark:bg-dark text-dark dark:text-brand-lighter selection:bg-brand-light;
		font-family: atkinson, system-ui, sans-serif;
	}
}

/* Header styles */
header {
	margin: 0;
	padding: 0 1em;
	background: white;
	box-shadow: 0 2px 8px rgba(var(--black), 5%);
}

header h2 {
	margin: 0;
	font-size: 1em;
}

header h2 a,
header h2 a.active {
	text-decoration: none;
}

header nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav a {
	padding: 1em 0.5em;
	color: var(--black);
	border-bottom: 4px solid transparent;
	text-decoration: none;
}

header nav a.active {
	text-decoration: none;
	border-bottom-color: var(--accent);
}

.social-links,
.social-links a {
	display: flex;
}

@media (max-width: 720px) {
	.social-links {
		display: none;
	}
}


main {
	@apply w-[calc(100%-2em)] max-w-full m-0;
}

.hero-image {
	@apply w-full;
}

.hero-image img {
	@apply block mx-auto rounded-xl shadow-[var(--box-shadow)];
}

.prose {
	@apply max-w-content mx-auto p-4 text-[rgb(var(--gray-dark))];
}

.title {
	@apply mb-4 py-4 text-center leading-none;
}

.title h1 {
	@apply mb-2 mt-0;
}

.date {
	@apply mb-2 text-[rgb(var(--gray))];
}

.last-updated-on {
	@apply italic;
}