---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Hero -->
  <div class="max-w-[64rem] mx-auto px-4 sm:px-6 lg:px-8 py-4 md:py-8">
    <div>
      <h1
        class="block text-3xl font-bold text-ink dark:text-[oklch(0.95_0.01_85)] sm:text-4xl lg:text-6xl lg:leading-tight"
      >
        404 Not Found
      </h1>
      <p class="mt-4 text-lg text-ink dark:text-[oklch(0.95_0.01_85)]">
        Oops! The page you're looking for is missing.
      </p>
    </div>
  </div>
  <!-- End Hero -->
</Layout>
