---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Hero -->
  <div class="max-w-[64rem] mx-auto px-4 sm:px-6 lg:px-8 py-4 md:py-8">
    <div>
      <h1
        class="block text-3xl font-bold text-ink sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white"
      >
        Garden
      </h1>
      <p class="mt-4 text-lg text-ink dark:text-neutral-400">
        There is currently almost nothing here. Just a <a
          class="underline hover:text-muted"
          href="/on-digital-gardens">seedling</a
        >. 🌱
      </p>
      <p class="mt-4 text-lg text-ink dark:text-neutral-400">
        Just as a garden is a canvas for life, <a
          class="underline hover:text-muted"
          href="/garden">death</a
        >is an unavoidable and essential part of the garden.
      </p>
      <p class="mt-4 text-lg text-ink dark:text-neutral-400">
        It’s interesting that I wrote my post on death a while ago, but it was
        the post on the seedling (life) that encouraged me to publish the post
        on death. It felt like a good balance. Because of life, death can exist.
      </p>
    </div>
  </div>
</Layout>
<!-- End Hero -->
