---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="max-w-content mx-auto">
			<h1>Continuously improving</h1>
			<p>
				Doing my best to keep improving, and the content on this site and its
				design will evolve to reflect that too.
			</p>
			<p>I’m currently happily starting a digital garden.</p>
		</main>
		<Footer />
	</body>
</html>
