---
const currentYear = new Date().getFullYear();
---

<footer class="mt-auto w-full max-w-[64rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto">
  <!-- Grid -->
  <div class="grid items-center gap-5">
    <div>
      <p class="text-base text-ink dark:text-[oklch(0.95_0.01_85)]">
        &copy; 2011-{currentYear} Matt Chung &middot; All rights reserved
      </p>
    </div>
    <!-- End Col -->
  <!-- End Grid -->
</footer>
